@use "sass:math";

// Подключение миксинов ============================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов =============================================================================================================================================================
//&display=swap -добавить при подключении через плагин

// Подключить, если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ===================================================================================================================================================
// Подключить, если есть файл иконочного шрифта
//@import "fonts/icons";

// Подключение стилей библиотеки Bootstrap =========================================================================================================================================
// Документация плагина: https://getbootstrap.com/
// @import "libs/bootstrap";

// =================================================================================================================================================================================
// Настройка шаблона ===============================================================================================================================================================
// =================================================================================================================================================================================
// Шрифт по умолчанию ==============================================================================================================================================================
$fontFamily: raleway;
$fontSize: rem(14); // где 14(px) -размер шрифта по умолчанию с макета

// Основные цвета
$mainColor: #fff; // Цвет шрифта по умолчанию

// Палитра цветов
//@import "base/colors-palette";

// Настройка адаптивной сетки ======================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступов)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивый (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер изменяет свою ширину по брейк-поинтам)
$responsiveType: 1;

// =================================================================================================================================================================================
// =================================================================================================================================================================================

// Обнуление =======================================================================================================================================================================
@import "base/null";

// Стили тега BODY =================================================================================================================================================================
body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
// Оболочка wrapper ================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер =========================================================================================================================================================
/*
(i) Стили будут применяться ко всех классам, содержащих *__container
К примеру header__container, main__container и т.п.
Сниппет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Чувствительный
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// По брейк поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных классов
// Для подключения/выключения конкретных стилей смотрите base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
